.header__opener {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(25, 80, 121, 0.1);
  padding-top: 16px;

  border-radius: 8px;
  width: 78px;
  height: 72px;
  &:hover {
    svg path {
      stroke: var(--dark-pink);
    }
    span {
      color: var(--dark-pink);
    }
  }
  svg {
    width: 32px;
    height: 24px;
    margin-bottom: 4px;
    transition: all 0.3s;
  }
  span {
    display: block;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: var(--blue);
    line-height: 0;
    line-height: 16px;
    transition: all 0.3s;
  }
}
