<a href="#" class="asideProduct">
  <div class="asideProduct__img">
    <img src="images/content/aside-product.png" alt="product" />
  </div>
  <div class="asideProduct__info">
    <div class="asideProduct__title">SPECIFIC CDW FOOD ALLERGY MANAGEMENT</div>
    <div class="asideProduct__price">370, 00 kč</div>
  </div>
</a>
