<a href="#" class="asideProduct">
   <div class="asideProduct__title">
     SPECIFIC CDW FOOD ALLERGY MANAGEMENT
   </div>
   <div class="asideProduct__row">
     <div class="asideProduct__img">
       <img src="images/content/aside-product.png" alt="product" />
     </div>

     <div class="asideProduct__info">
       <p>
         (jehněčí a rýže)
         <span>6 x 300 g </span>
       </p>
       <div class="asideProduct__price">370, 00 kč</div>
     </div>
   </div>
 </a>