<section class="article-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Domestikace psa a adaptace jeho genomu na dietu bohatou na škroby
            </li>
          </ol>
        </nav>
      </div>
      <div class="col-lg-10 mx-auto">
        <h1>
          Domestikace psa a adaptace jeho genomu na dietu bohatou na škroby
        </h1>
        <div class="article-section__date">13. 11. 2023</div>
        <div class="article-section__img">
          <img
            src="images/content/article-1.png"
            loading="lazy"
            alt="article-1"
          />
        </div>
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Domestikace psa byla důležitou epizodou ve vývoji lidské civilizace.
          Přesné místo a období této události jsou předmětem debat, kdy v tomto
          článku najdete v Referencích odkazy na články, zabývající se právě
          těmito tématy. Obecně je také velmi málo informací ohledně
          genetických změn, které přeměnu pravěkého vlka ve psa provázely.
        </p>
        <p>
          Do současné doby byla identifikována pouze hrstka genů, které odlišují
          domestikované formy zvířat od jejich divokých předchůdců a zatím se
          výzkumy věnovaly hlavně jiným živočišným druhům, např. prasatům a kuru
          domácímu. U psů však doposud nebyl žádný průzkum genomu uskutečněn.
        </p>
        <p>
          V tomto článku naleznete poměrně nové informace věnované skupině genů,
          které ovlivňují trávení škrobu a metabolismu tuků, a vykazují známky
          selekce.
        </p>
        <p>
          Aby k takovému nálezu mohlo dojít, bylo nejprve nutné identifikovat
          oblasti genomu, které se změnily během domestikace a k tomu bylo
          potřeba sekvenovat celý genom psa a vlka.
        </p>
        <p>
          Podrobnosti o těchto speciálních genech a jejich funkcích
          u domestikovaných psů naleznete v článku s tím, že je určitě velmi
          zajímavé, ponořit se do této problematiky i hlouběji. K tomu je možno
          využít odkazy na články v závěru článku.
        </p>
        <div class="article-section__author">Axelsson E. a kol.</div>
      </div>
    </div>
  </div>
  <div class="article-section__img">
    <img src="images/content/article-2.png" loading="lazy" alt="article-2" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Není jasné, kdy a jak byl pes domestikován. Lidé mohli vychovávat
          polapená vlčí štěňata a využívat je ke hlídání nebo lovu. Postupně se
          naučili selektovat u nich žádoucí vlastnosti. Jinou možností je, že
          s tím, jak se nomádi postupně usazovali a stávali se zemědělci, mohli
          být vlci sami vábeni zbytky potravy k osadám6. Přirozenou selekcí
          a adaptací na tento nový zdroj potravy mohly vzniknout skupiny
          mrchožravých vlků, kteří se stali předchůdci moderních psů. Bez ohledu
          na to, jak domestikace začala, se moderní psi liší od vlků v několika
          ohledech. Je to např. snížená agresivita a změněné sociální chování7.
          Většina poznatků nasvědčuje tomu, že změny chování byly v celém
          procesu tím hlavním6. Psi se od vlků liší také morfologicky – mají
          menší velikost hlavy, zubů a mozku6. Na umělé selekci nižší plachosti
          u stříbrných lišek je zřejmé, že má vliv jak na morfologické, tak na
          behaviorální vlastnosti populace. Je to zřejmě důležitý mechanismus
          celé zvířecí domestikace.
        </p>
        <p>
          Do současné doby byla identifikována pouze hrstka genů, které odlišují
          domestikované formy zvířat od jejich divokých předchůdců. Je to
          například variabilita v barvě srsti MC1R u prasat9 a mutace v TSRH,
          která pravděpodobně ovlivňuje sezónní reprodukci u kura10. U psů však
          doposud nebyl žádný průzkum genomu uskutečněn. Abychom mohli
          identifikovat oblasti genomu, které se změnily během domestikace,
          sekvenovali jsme celý genom psa a vlka a následně charakterizovali
          vybrané geny.
        </p>
      </div>
      <div class="col-12">
        <div class="article-section__img">
          <img
            src="images/content/article-2.png"
            loading="lazy"
            alt="article-2"
          />
        </div>
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Není jasné, kdy a jak byl pes domestikován. Lidé mohli vychovávat
          polapená vlčí štěňata a využívat je ke hlídání nebo lovu. Postupně se
          naučili selektovat u nich žádoucí vlastnosti. Jinou možností je, že
          s tím, jak se nomádi postupně usazovali a stávali se zemědělci, mohli
          být vlci sami vábeni zbytky potravy k osadám6. Přirozenou selekcí
          a adaptací na tento nový zdroj potravy mohly vzniknout skupiny
          mrchožravých vlků, kteří se stali předchůdci moderních psů. Bez ohledu
          na to, jak domestikace začala, se moderní psi liší od vlků v několika
          ohledech. Je to např. snížená agresivita a změněné sociální chování7.
          Většina poznatků nasvědčuje tomu, že změny chování byly v celém
          procesu tím hlavním6. Psi se od vlků liší také morfologicky – mají
          menší velikost hlavy, zubů a mozku6. Na umělé selekci nižší plachosti
          u stříbrných lišek je zřejmé, že má vliv jak na morfologické, tak na
          behaviorální vlastnosti populace. Je to zřejmě důležitý mechanismus
          celé zvířecí domestikace.
        </p>
        <p>
          Do současné doby byla identifikována pouze hrstka genů, které odlišují
          domestikované formy zvířat od jejich divokých předchůdců. Je to
          například variabilita v barvě srsti MC1R u prasat9 a mutace v TSRH,
          která pravděpodobně ovlivňuje sezónní reprodukci u kura10. U psů však
          doposud nebyl žádný průzkum genomu uskutečněn. Abychom mohli
          identifikovat oblasti genomu, které se změnily během domestikace,
          sekvenovali jsme celý genom psa a vlka a následně charakterizovali
          vybrané geny.
        </p>
      </div>
    </div>
  </div>
</section>
