<section class="popularProducts">
  <h1 class="title text-center mb-lg-5 mb-4">Oblíbené produkty</h1>
  <div class="row g-md-6">
    <div class="col-md-3">
      <div class="productItem active" data-product-id="8">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <div class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </div>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-4.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CDD-HY
          <span> Food Allergen Management </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 497,26 Kč </span>
        </div>
        <a href="#" class="btn">Detail</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productItem active" data-product-id="8">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <div class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </div>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-4.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CDD-HY
          <span> Food Allergen Management Food Allergen Management </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 497,26 Kč </span>
        </div>
        <a href="#" class="btn">Detail</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productItem active" data-product-id="8">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <div class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </div>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-4.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CDD-HY
          <span> Food Allergen Management </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 497,26 Kč </span>
        </div>
        <a href="#" class="btn">Detail</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productItem active" data-product-id="8">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <div class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </div>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-4.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CDD-HY
          <span> Food Allergen Management </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 497,26 Kč </span>
        </div>
        <a href="#" class="btn">Detail</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="productItem active" data-product-id="8">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <div class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </div>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-4.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CDD-HY
          <span> Food Allergen Management </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 497,26 Kč </span>
        </div>
        <a href="#" class="btn">Detail</a>
      </div>
    </div>
  </div>
  <a href="#" class="btn popularProducts__btn">
    {% include "@images/chevron-left.svg" %} Zpět
  </a>
</section>
