<section class="orders-section pt-4">
  <div class="container">
    <h1 class="title text-center mb-3">Moje objednávky</h1>
    <div class="orders-section__inner">
      <div class="ordersItem">
        <ul class="ordersItem__list">
          <li class="ordersItem__date">
            <div class="ordersItem__title">Datum</div>
            <div class="ordersItem__num">10.2.2024</div>
            <a
              href="images/content/product-1.png"
              download
              class="ordersItem__link"
            >
              {% include "@images/download.svg" %}
              <span> Stáhnout fakturu</span>
            </a>
          </li>
          <li>
            <div class="ordersItem__title">Čislo objednávky</div>
            <div class="ordersItem__num">111222024</div>
          </li>
          <li class="ordersItem__products">
            <ul class="ordersItem__products-list">
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
            </ul>
            <a href="#" class="ordersItem__link">
              {% include "@images/circle.svg" %}
              <span>Znovu objednat</span>
            </a>
          </li>
          <li class="ordersItem__price">
            <div class="ms-xl-auto w-content">
              <div class="ordersItem__title">Cena</div>
              <div class="ordersItem__num">3 568 kč</div>
            </div>
            <a href="#" class="ordersItem__link">
              <span> Detaily objednávky</span> {% include
              "@images/arrow-right.svg" %}</a
            >
          </li>
        </ul>
      </div>
      <div class="ordersItem">
        <ul class="ordersItem__list">
          <li class="ordersItem__date">
            <div class="ordersItem__title">Datum</div>
            <div class="ordersItem__num">10.2.2024</div>
            <a
              href="images/content/product-1.png"
              download
              class="ordersItem__link"
            >
              {% include "@images/download.svg" %}
              <span> Stáhnout fakturu</span>
            </a>
          </li>
          <li>
            <div class="ordersItem__title">Čislo objednávky</div>
            <div class="ordersItem__num">111222024</div>
          </li>
          <li class="ordersItem__products">
            <ul class="ordersItem__products-list">
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
            </ul>
            <a href="#" class="ordersItem__link">
              {% include "@images/circle.svg" %}
              <span>Znovu objednat</span>
            </a>
          </li>
          <li class="ordersItem__price">
            <div class="ms-xl-auto w-content">
              <div class="ordersItem__title">Cena</div>
              <div class="ordersItem__num">3 568 kč</div>
            </div>
            <a href="#" class="ordersItem__link">
              <span> Detaily objednávky</span> {% include
              "@images/arrow-right.svg" %}</a
            >
          </li>
        </ul>
      </div>
      <div class="ordersItem">
        <ul class="ordersItem__list">
          <li class="ordersItem__date">
            <div class="ordersItem__title">Datum</div>
            <div class="ordersItem__num">10.2.2024</div>
            <a
              href="images/content/product-1.png"
              download
              class="ordersItem__link"
            >
              {% include "@images/download.svg" %}
              <span> Stáhnout fakturu</span>
            </a>
          </li>
          <li>
            <div class="ordersItem__title">Čislo objednávky</div>
            <div class="ordersItem__num">111222024</div>
          </li>
          <li class="ordersItem__products">
            <ul class="ordersItem__products-list">
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
            </ul>
            <a href="#" class="ordersItem__link">
              {% include "@images/circle.svg" %}
              <span>Znovu objednat</span>
            </a>
          </li>
          <li class="ordersItem__price">
            <div class="ms-xl-auto w-content">
              <div class="ordersItem__title">Cena</div>
              <div class="ordersItem__num">3 568 kč</div>
            </div>
            <a href="#" class="ordersItem__link">
              <span> Detaily objednávky</span> {% include
              "@images/arrow-right.svg" %}</a
            >
          </li>
        </ul>
      </div>
      <div class="ordersItem">
        <ul class="ordersItem__list">
          <li class="ordersItem__date">
            <div class="ordersItem__title">Datum</div>
            <div class="ordersItem__num">10.2.2024</div>
            <a
              href="images/content/product-1.png"
              download
              class="ordersItem__link"
            >
              {% include "@images/download.svg" %}
              <span> Stáhnout fakturu</span>
            </a>
          </li>
          <li>
            <div class="ordersItem__title">Čislo objednávky</div>
            <div class="ordersItem__num">111222024</div>
          </li>
          <li class="ordersItem__products">
            <ul class="ordersItem__products-list">
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
            </ul>
            <a href="#" class="ordersItem__link">
              {% include "@images/circle.svg" %}
              <span>Znovu objednat</span>
            </a>
          </li>
          <li class="ordersItem__price">
            <div class="ms-xl-auto w-content">
              <div class="ordersItem__title">Cena</div>
              <div class="ordersItem__num">3 568 kč</div>
            </div>
            <a href="#" class="ordersItem__link">
              <span> Detaily objednávky</span> {% include
              "@images/arrow-right.svg" %}</a
            >
          </li>
        </ul>
      </div>
      <div class="ordersItem">
        <ul class="ordersItem__list">
          <li class="ordersItem__date">
            <div class="ordersItem__title">Datum</div>
            <div class="ordersItem__num">10.2.2024</div>
            <a
              href="images/content/product-1.png"
              download
              class="ordersItem__link"
            >
              {% include "@images/download.svg" %}
              <span> Stáhnout fakturu</span>
            </a>
          </li>
          <li>
            <div class="ordersItem__title">Čislo objednávky</div>
            <div class="ordersItem__num">111222024</div>
          </li>
          <li class="ordersItem__products">
            <ul class="ordersItem__products-list">
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
            </ul>
            <a href="#" class="ordersItem__link">
              {% include "@images/circle.svg" %}
              <span>Znovu objednat</span>
            </a>
          </li>
          <li class="ordersItem__price">
            <div class="ms-xl-auto w-content">
              <div class="ordersItem__title">Cena</div>
              <div class="ordersItem__num">3 568 kč</div>
            </div>
            <a href="#" class="ordersItem__link">
              <span> Detaily objednávky</span> {% include
              "@images/arrow-right.svg" %}</a
            >
          </li>
        </ul>
      </div>
      <div class="ordersItem">
        <ul class="ordersItem__list">
          <li class="ordersItem__date">
            <div class="ordersItem__title">Datum</div>
            <div class="ordersItem__num">10.2.2024</div>
            <a
              href="images/content/product-1.png"
              download
              class="ordersItem__link"
            >
              {% include "@images/download.svg" %}
              <span> Stáhnout fakturu</span>
            </a>
          </li>
          <li>
            <div class="ordersItem__title">Čislo objednávky</div>
            <div class="ordersItem__num">111222024</div>
          </li>
          <li class="ordersItem__products">
            <ul class="ordersItem__products-list">
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
            </ul>
            <a href="#" class="ordersItem__link">
              {% include "@images/circle.svg" %}
              <span>Znovu objednat</span>
            </a>
          </li>
          <li class="ordersItem__price">
            <div class="ms-xl-auto w-content">
              <div class="ordersItem__title">Cena</div>
              <div class="ordersItem__num">3 568 kč</div>
            </div>
            <a href="#" class="ordersItem__link">
              <span> Detaily objednávky</span> {% include
              "@images/arrow-right.svg" %}</a
            >
          </li>
        </ul>
      </div>
      <div class="ordersItem">
        <ul class="ordersItem__list">
          <li class="ordersItem__date">
            <div class="ordersItem__title">Datum</div>
            <div class="ordersItem__num">10.2.2024</div>
            <a
              href="images/content/product-1.png"
              download
              class="ordersItem__link"
            >
              {% include "@images/download.svg" %}
              <span> Stáhnout fakturu</span>
            </a>
          </li>
          <li>
            <div class="ordersItem__title">Čislo objednávky</div>
            <div class="ordersItem__num">111222024</div>
          </li>
          <li class="ordersItem__products">
            <ul class="ordersItem__products-list">
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
              <li>
                <img
                  src="images/content/product-1.png"
                  loading="lazy"
                  alt="product"
                />
              </li>
            </ul>
            <a href="#" class="ordersItem__link">
              {% include "@images/circle.svg" %}
              <span>Znovu objednat</span>
            </a>
          </li>
          <li class="ordersItem__price">
            <div class="ms-xl-auto w-content">
              <div class="ordersItem__title">Cena</div>
              <div class="ordersItem__num">3 568 kč</div>
            </div>
            <a href="#" class="ordersItem__link">
              <span> Detaily objednávky</span> {% include
              "@images/arrow-right.svg" %}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
