.about-section {
  background-color: var(--dark-blue-200);
  padding: 20px 16px 8px 16px;
  margin-bottom: 32px;
  @include media-breakpoint-down(md) {
    margin-bottom: 12px;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.08px;
    text-align: center;
    margin-bottom: 8px;
    color: var(--color-text);
    letter-spacing: 0.25px;
    @include media-breakpoint-down(md) {
      font-size: 14px;
      font-weight: 700;
      line-height: 18.13px;
    }
  }

  .buttonMore {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    cursor: pointer;
  }
  .buttonMore.open {
    transform: rotate(180deg);
  }

  &__text {
    font-size: 17.5px;
    font-weight: 400;
    line-height: 32px;
    max-width: 712px;
    margin: 0 auto;
    display: block;
    color: var(--color-text);
    @include media-breakpoint-down(md) {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  &__text.hidden {
    display: none;
  }
}
