<aside class="aside">
  <a href="#" class="aside__ban" target="_blank">
    <img src="images/content/aside-1.png" loading="lazy" alt="specific" />
  </a>
  <a href="#" class="aside__ban" target="_blank">
    <img src="images/content/aside-2.png" loading="lazy" alt="veticalm" />
  </a>
  <div class="aside__title">Nejprodávanější produkty</div>
  <div class="aside__products">
    <a href="#" class="asideProduct">
      <div class="asideProduct__img">
        <img src="images/content/prod-1.png" alt="product" />
      </div>
      <div class="asideProduct__info">
        <div class="asideProduct__title">
          SPECIFIC CDW FOOD ALLERGY MANAGEMENT (jehněčí a rýže) 6 x 300 g
        </div>
        <div class="asideProduct__price">370, 00 kč</div>
      </div>
    </a>
    <a href="#" class="asideProduct">
      <div class="asideProduct__img">
        <img src="images/content/prod-2.png" alt="product" />
      </div>
      <div class="asideProduct__info">
        <div class="asideProduct__title">
          Effitix 402 mg/3600 mg, roztok pro nakapání na kůži spot-on pro velmi
          velké psy 4 x6,6 ml
        </div>
        <div class="asideProduct__price">370, 00 kč</div>
      </div>
    </a>
    <a href="#" class="asideProduct">
      <div class="asideProduct__img">
        <img src="images/content/prod-3.png" alt="product" />
      </div>
      <div class="asideProduct__info">
        <div class="asideProduct__title">
          Ataxxa 500 mg/ 100 mg, roztok pro nakapání na kůži spot-on pro psy od
          4 kg do 10 kg
        </div>
        <div class="asideProduct__price">370, 00 kč</div>
      </div>
    </a>
    <a href="#" class="asideProduct">
      <div class="asideProduct__img">
        <img src="images/content/prod-4.png" alt="product" />
      </div>
      <div class="asideProduct__info">
        <div class="asideProduct__title">
          PREVENDOG 1,056 g medikovaný obojek pro malé až středně velké psy 1
          obojek
        </div>
        <div class="asideProduct__price">370, 00 kč</div>
      </div>
    </a>
    <a href="#" class="asideProduct">
      <div class="asideProduct__img">
        <img src="images/content/aside-product.png" alt="product" />
      </div>
      <div class="asideProduct__info">
        <div class="asideProduct__title">
          SPECIFIC CDW FOOD ALLERGY MANAGEMENT
        </div>
        <div class="asideProduct__price">370, 00 kč</div>
      </div>
    </a>
    <a href="#" class="asideProduct">
      <div class="asideProduct__img">
        <img src="images/content/aside-product.png" alt="product" />
      </div>
      <div class="asideProduct__info">
        <div class="asideProduct__title">
          SPECIFIC CDW FOOD ALLERGY MANAGEMENT
        </div>
        <div class="asideProduct__price">370, 00 kč</div>
      </div>
    </a>

    <div class="asideBtn">{% include "@images/dropdown.svg" %}</div>
  </div>
</aside>
