<aside class="aside">
  <a href="#" class="aside__ban" target="_blank">
    <img src="images/content/aside-1.png" loading="lazy" alt="specific" />
  </a>
  <a href="#" class="aside__ban" target="_blank">
    <img src="images/content/aside-2.png" loading="lazy" alt="veticalm" />
  </a>
  <div class="aside__title">Nejprodávanější produkty</div>
  <div class="aside__products">
    {% for i in 1..8 %} {% include "@components/asideProduct/asideProduct.twig"
    %} {% endfor %}

    <div class="asideBtn">{% include "@images/dropdown.svg" %}</div>
  </div>
</aside>
 
