<aside class="aside mb-5">
  <a href="#" class="aside__ban" target="_blank">
    <img src="images/content/aside-1.png" loading="lazy" alt="specific" />
  </a>
  <a href="#" class="aside__ban" target="_blank">
    <img src="images/content/aside-2.png" loading="lazy" alt="veticalm" />
  </a>
</aside>
