<section class="userCard-favorites">
  <div class="container">
    <div class="userCard-favorites__box">
      <h3 class="userCard-favorites__title">Oblíbené produkty</h3>
      <div class="userCard-favorites__list">
        <ul class="ordersItem__products-list">
          <li>
            <img
              src="images/content/product-1.png"
              loading="lazy"
              alt="product"
            />
          </li>
          <li>
            <img
              src="images/content/product-1.png"
              loading="lazy"
              alt="product"
            />
          </li>
          <li>
            <img
              src="images/content/product-1.png"
              loading="lazy"
              alt="product"
            />
          </li>
          <li>
            <img
              src="images/content/product-1.png"
              loading="lazy"
              alt="product"
            />
          </li>
        </ul>
        <a href="#" class="ordersItem__link">
          <span> Detaily objednávky</span> {% include "@images/arrow-right.svg"
          %}</a
        >
      </div>
    </div>
  </div>
</section>
