<ul class="shoppingMenu">
  <li class="shoppingMenu__item active">
    <span>1</span>
    Košík
  </li>
  <li class="shoppingMenu__item">
    <span>2</span>
    Doprava a platba
  </li>
  <li class="shoppingMenu__item">
    <span>3</span>
    Rekapitulace
  </li>
</ul>
