<section class="pageNotFound">
  <div class="container">
    <div class="pageNotFound__inner">
      <h1 class="pageNotFound__title">404</h1>
      <div class="pageNotFound__bottom">Litujeme, stránka nenalezena.</div>
      <a href="#">Vrátit se na hlavní stránku</a>
    </div>
  </div>
</section>
