.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

.h2,
.o-content h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 41.44px;
  color: var(--color-text);
  @include media-breakpoint-down(lg) {
    font-size: 28px;
    line-height: normal;
  }
}
.h3,
.o-content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.08px;
  color: var(--color-text);
  @include media-breakpoint-down(lg) {
    font-size: 20px;
    line-height: normal;
  }
}
.h4,
.o-content h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: var(--color-text);
  @include media-breakpoint-down(lg) {
    font-size: 18px;
    line-height: normal;
  }
}

.p1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
    line-height: normal;
  }
}
