<section class="archiveProducts">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">KRMIVA </a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Konzervy a kapsičky
      </li>
    </ol>
  </nav>
  <div class="row g-md-6 archiveProducts__inner">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="2">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="2">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="productItem" data-product-id="1">
        <div class="productItem__head">
          <div class="productItem__state">skladem</div>
          <button class="productItem__favorite">
            {% include "@images/favorite.svg" %}
          </button>
        </div>
        <div class="productItem__img">
          <img src="images/content/product-1.png" alt="product" />
        </div>
        <div class="productItem__title">
          SPECIFIC CGD-M
          <span> Senior Medium Breed </span>
        </div>
        <div class="productItem__price">
          Cena s DPH od
          <span> 190,15 Kč </span>
        </div>
      </a>
    </div>
  </div>
  <div class="archiveProducts__btn">Zobrazit dalších 12 produktů</div>
</section>
