<section class="shoppingRecapitulation">
  <div class="container">
    <h1 class="title">Rekapitulace objednávky</h1>
    <ul class="shoppingRecapitulation__info">
      <li class="shoppingRecapitulation__info-col">
        <h2 class="h3">Fakturační údaje:</h2>
        <ul>
          <li><strong> Jmeno </strong> Petr</li>
          <li><strong>Příjmení</strong> Novák</li>
          <li><strong>Adresa</strong> Ulice 123/4</li>
          <li><strong>Město</strong> Hořovice</li>
          <li><strong>PSČ</strong> 26801</li>
        </ul>
      </li>

      <li class="shoppingRecapitulation__info-col">
        <h2 class="h3">Doručovací adresa:</h2>
        <ul>
          <li><strong> Jmeno </strong> Petr</li>
          <li><strong>Příjmení</strong> Novák</li>
          <li><strong>Adresa</strong> Ulice 123/4</li>
          <li><strong>Město</strong> Hořovice</li>
          <li><strong>PSČ</strong> 26801</li>
        </ul>
      </li>

      <li class="shoppingRecapitulation__info-col">
        <h2 class="h3">Platební metoda:</h2>
        <ul>
          <li>
            <strong>GoPay</strong>
          </li>
          <li>Elektronická platba kartou přes platební bránu</li>
        </ul>
      </li>

      <li class="shoppingRecapitulation__info-col">
        <h2 class="h3">Doprava:</h2>

        <ul>
          <li>
            <strong> PPL</strong>
          </li>
          <li>99,00 Kč s DPH</li>
        </ul>
      </li>
    </ul>
    <ul class="shoppingRecapitulation__infoMob">
      <li>
        <strong>Ing. Petr Novák </strong>
      </li>
      <li>
        <strong>Fakturační adresa:</strong> Na Viničkách 508, 267 06 Hýskov
      </li>
      <li><strong>Firma:</strong> Sogno Reale, IČO: 07298871</li>

      <li>
        <strong> Kontaktní údaje:</strong> tel.: +420 111222333
        emailemail@seznam.cz
      </li>
      <li>
        <strong> Objednávka:</strong> doprava PPL, platba kartou, stav: nová
      </li>
    </ul>
    <div class="orderTable">
      <table>
        <thead>
          <tr>
            <th>Produkt</th>
            <th>Množství</th>
            <th>Jedn. cena</th>
            <th>Celkem</th>
            <th>DPH</th>
            <th>Cena celkem s DPH</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <span>Produkt:</span> <strong>SPECIFIC CPD-M</strong> Puppy Medium
              Breed 4 kg
            </td>
            <td><span>Množství</span> 1</td>
            <td><span>Jedn. cena bez DPH</span> 590,61</td>
            <td><span>Sazba DPH</span> 590,61</td>
            <td><span>Jedn. cena bez DPH</span> 15%</td>
            <td><span>Cena celkem s DPH</span> 679,21 Kč</td>
          </tr>
          <tr>
            <td><strong>Doprava: </strong> PPL</td>
            <td><span>Množství</span> 1</td>
            <td><span>Jedn. cena</span> 82.81</td>
            <td><span>Celkem</span> 82.81</td>
            <td><span>Sazba DPH</span> 21%</td>
            <td><span>Cena celkem s DPH</span> 99,00 Kč</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="orderDiscount">
      <div class="orderDiscount__code">Slevový kód <span>2t3MKbJv</span></div>
      <div class="orderDiscount__percent">30,00 %</div>
    </div>
    <form action="" class="formRadio shoppingRecapitulation__form">
      <div class="shoppingRecapitulation__wrapper">
        <div class="shoppingRecapitulation__boxes">
          <div class="shoppingRecapitulation__boxes-title">
            Souhlas se zásadami
          </div>
          <label>
            <input type="checkbox" name="e" />
            <a href="#">Souhlasím s Obchodními podmínkami</a>
          </label>
          <label>
            <input type="checkbox" name="e" />
            <a href="#">Souhlasím se Zásadami zpracování osobních údajů</a>
          </label>
        </div>
        <div class="orderResult">
          <table>
            <tr>
              <td><strong> Mezisoučet bez DPH </strong></td>
              <td>672,43</td>
            </tr>
            <tr>
              <td><strong>DPH (15,00%)</strong></td>
              <td>88,59 Kč</td>
            </tr>
            <tr>
              <td><strong>DPH (21,00%)</strong></td>
              <td>17.18 Kč</td>
            </tr>
            <tr>
              <td><strong>Sleva</strong></td>
              <td>-203,76 Kč</td>
            </tr>
            <tr>
              <td><strong>Zaokrouhleni</strong></td>
              <td>-0,44 Kč</td>
            </tr>
            <tr>
              <td><strong>Cena celkem s DPH</strong></td>
              <td><strong>574,00 Kč</strong></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="orderResult__alert">Objednat s povinností platby</div>
      <a href="#" class="btn shoppingRecapitulation__btn"> Objednat </a>
    </form>
  </div>
</section>
