<nav class="navbar">
  <div class="container">
    <ul class="navbar__menu">
      <li class="navbar__menu-list">
        <a
          href="https://mizza-cz.github.io/weilovna/build/01.0_homepage.html"
          class="navbar__menu-item"
        >
          <img src="images/content/home.png" alt="Domů" /> Domů
        </a>
      </li>
      <li class="navbar__menu-list navbar__menu-list--dogs">
        <div class="navbar__menu-item">Psi</div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold"> KRMIVA </a>
              <a href="#">Konzervy a kapsičky</a>
              <a href="#"> Krmiva suchá</a>
            </div>
            <div class="dropdown-menu__item">
              <a href="#" class="mb-4 text-uppercase fw-bold">
                NEMOC / DIETA
              </a>
            </div>
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold"> PAMLSKY </a>
            </div>
          </li>
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold">
                Specialní kosmetika
              </a>
              <div class="row">
                <div class="col-6">
                  <a href="#">Obojek</a>
                  <a href="#">Difuzér</a>
                  <a href="#">Šampon</a>
                  <a href="#">Pěna</a>
                  <a href="#">Roztoky</a>
                </div>
                <div class="col-6">
                  <a href="#">Sprej</a>
                  <a href="#">Koncentrát</a>
                  <a href="#">Mast</a>
                  <a href="#">Gel</a>
                  <a href="#">Ubrousky</a>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold">
                ANTIPARAZITIKA
              </a>
              <a href="#">Roztok (+spot-on)</a>
              <a href="#">Pasta</a>
              <a href="#">Tableta</a>
              <a href="#">Sprej</a>
              <a href="#">Obojek</a>
              <a href="#">Šampon</a>
            </div>
          </li>
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold"> VÝŽIVA </a>
            </div>
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold">OSTATNÍ</a>
              <a href="#">bandáž</a>
            </div>
          </li>
        </ul>
      </li>
      <li class="navbar__menu-list navbar__menu-list--cats">
        <div class="navbar__menu-item">Kočky</div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold"> KRMIVA </a>
              <a href="#">Konzervy a kapsičky</a>
              <a href="#"> Krmiva suchá</a>
            </div>
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold">
                NEMOC / DIETA
              </a>
            </div>
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold"> PAMLSKY </a>
            </div>
          </li>
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold">
                Specialní kosmetika
              </a>
              <div class="row">
                <div class="col-6">
                  <a href="#">Obojek</a>
                  <a href="#">Difuzér</a>
                  <a href="#">Šampon</a>
                  <a href="#">Pěna</a>
                  <a href="#">Roztoky</a>
                </div>
                <div class="col-6">
                  <a href="#">Sprej</a>
                  <a href="#">Koncentrát</a>
                  <a href="#">Mast</a>
                  <a href="#">Gel</a>
                  <a href="#">Ubrousky</a>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold">
                ANTIPARAZITIKA
              </a>
              <a href="#">Roztok (+spot-on)</a>
              <a href="#">Pasta</a>
              <a href="#">Tableta</a>
              <a href="#">Sprej</a>
              <a href="#">Obojek</a>
              <a href="#">Šampon</a>
            </div>
          </li>
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold"> VÝŽIVA </a>
            </div>
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold">OSTATNÍ</a>
              <a href="#">bandáž</a>
            </div>
          </li>
        </ul>
      </li>
      <li class="navbar__menu-list navbar__menu-list--horses">
        <div class="navbar__menu-item">Koně</div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold">
                Specialní kosmetika
              </a>
              <a href="#">Mast</a>
              <a href="#">Roztok</a>
              <a href="#">Sprej</a>
              <a href="#">Šampon</a>
              <a href="#">Emulze</a>
              <a href="#">Gel</a>
            </div>
          </li>
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold"> VÝŽIVA </a>
              <a href="#">Pasta</a>
              <a href="#">Prášek</a>
              <a href="#">Sirup</a>
              <a href="#">Tableta</a>
              <a href="#">Emulze</a>
              <a href="#">Olej</a>
            </div>
          </li>
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold">
                ANTIPARAZITIKA
              </a>
              <a href="#">Roztok</a>
              <a href="#">Sprej</a>
              <a href="#">Gel</a>
            </div>
            <div class="dropdown-menu__item">
              <a href="#" class="mb-2 text-uppercase fw-bold"> OSTATNÍ </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="navbar__menu-list navbar__menu-list--icons">
        <div class="navbar__menu-item">Ostatní zvířata</div>
        <ul class="dropdown-menu">
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a class="icon icon--poultry" href="#">DRŮBEŽ </a>
              <a class="icon icon--ferret" href="#">Fretka </a>
              <a class="icon icon--rodent" href="#">Hlodavci </a>
              <a class="icon icon--goat" href="#">Kozy </a>
            </div>
          </li>
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a class="icon icon--rabbit" href="#">KRÁLÍCI </a>
              <a class="icon icon--sheep" href="#">OVCE </a>
              <a class="icon icon--reptile" href="#">PLAZI </a>
              <a class="icon icon--pig" href="#">PRASATA </a>
            </div>
          </li>
          <li class="dropdown-menu__list">
            <div class="dropdown-menu__item">
              <a class="icon icon--bird" href="#">PTáci </a>
              <a class="icon icon--cattle" href="#">skot </a>
              <a class="icon icon--animals" href="#"
                >OSTATNÍ <br />
                DRUHY ZVÍŘAT
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="navbar__menu-list">
        <a href="#" class="navbar__menu-item">Blog</a>
      </li>
    </ul>
  </div>
</nav>
