.navbar {
  background-color: var(--blue);
  border-top: 8px solid var(--pink);
  box-shadow: 0px 4px 8px 0px rgba(25, 80, 121, 0.15);
  margin-top: 1.5rem;
  position: relative;
  @include media-breakpoint-down(xxl) {
    margin-top: 4.5rem;
  }
  @media (max-width: 1100px) {
    display: none;
    border: none;
    background-color: var(--color-light);
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 999;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/content/dog.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 124px;
    height: 86px;
    right: 0;
    top: -93px;
    @media (max-width: 1100px) {
      display: none;
    }
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/content/cat.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 118px;
    height: 86px;
    left: 0;
    top: -93px;
    @media (max-width: 1100px) {
      display: none;
    }
  }
  &__btn {
    display: none;
    @media (max-width: 1100px) {
      display: block;
      margin-top: 40px;
      margin-right: 40px;
    }
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1100px) {
      color: var(--blue);
      padding-right: 0 !important;
      padding-top: 80px;
    }
  }
  &__menu-item {
    font-size: 22px;
    font-weight: 700;
    line-height: 28.49px;
    text-align: center;
    color: var(--color-light);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    letter-spacing: 0.5px;
    padding: 10px 32px;
    cursor: pointer;
    transition: all 0.2s;
    @media (max-width: 1100px) {
      color: var(--blue);
      text-align: left;
      justify-content: start;
      padding: 0 40px 32px 0;
      width: fit-content;
      font-size: 24px;
      line-height: 24px;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 7px;
        background-image: url("../images/ico/chevron-right.svg");
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
        background-size: contain;
      }
      img {
        display: none;
      }
      &:hover,
      &:target,
      &:focus {
        &::before {
          transform: rotate(90deg);
          top: 12px;
        }
      }
    }
  }
  &__menu-list {
    position: relative;

    &:hover:not(:first-child) {
      &::before {
        opacity: 0 !important;
      }
      .dropdown-menu {
        transition: all 0.8s;
        display: flex;
      }
      .navbar__menu-item {
        background-color: var(--color-light) !important;
        color: var(--blue) !important;
      }
    }
    @media (max-width: 1100px) {
      width: 100%;
    }
  }
  &__menu-list--horses .dropdown-menu {
    transform: translateX(-40%);
  }
  &__menu-list--cats .dropdown-menu {
    transform: translateX(-30%);
  }
  &__menu-list--dogs .dropdown-menu {
    transform: translateX(-10%);
  }
  &__menu-list--icons .dropdown-menu {
    right: 0 !important;
    left: auto;
  }
  &__menu-list--icons .dropdown-menu__item a {
    margin-bottom: 16px !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.02px;
    text-transform: uppercase;
  }
  &__menu-list + &__menu-list {
    &::before {
      content: "";
      position: absolute;
      left: -1px;
      width: 1px;
      height: 23px;
      top: 14px;
      background-color: var(--color-light);
      transition: all 0.2s;
    }
  }
}
a.navbar__menu-item {
  text-decoration-color: transparent;
  &:hover {
    text-decoration-color: inherit;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 999;
  width: max-content;
  top: 49px;
  min-width: 200px;
  border-radius: 0px 0px 4px 4px;
  padding-top: 24px;
  padding-bottom: 12px;
  background-color: var(--color-light);
  box-shadow: 0px 4px 16px 0px #0200241a;
  left: 0%;
  border: 1px solid var(--light-gray);
  border-top: none;
  @media (max-width: 1100px) {
    flex-direction: column;
    position: relative;
    top: 0;
    min-width: auto;
    width: 100%;
    justify-content: flex-start;
    left: 0 !important;
    border: none;
    box-shadow: none;
    transform: none !important;
    padding: 0;
    margin-bottom: 16px;
  }
  &__item {
    margin-bottom: 1.5rem;
    @media (max-width: 1100px) {
      margin-bottom: 0;
      padding: 0 !important;
    }
  }
  &__item:last-child {
    margin-bottom: 0;
    padding-bottom: 8px;
  }
  &__list + &__list {
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      left: 0;
      top: -6px;
      background-color: var(--light-gray);
      @media (max-width: 1100px) {
        display: none;
      }
    }
  }
  &__list {
    width: fit-content;
    padding: 0 24px;
    text-align: left;
    position: relative;
    @media (max-width: 1100px) {
      width: 100%;
      padding: 0;
    }
    a.fw-bold {
      @media (max-width: 1100px) {
        display: block !important;
        text-align: left;
        margin-bottom: 16px !important;
      }
    }
    a {
      display: block;
      width: 100%;
      padding: 0;
      color: var(--blue);
      font-size: 20px;
      font-weight: 400;
      text-decoration: none;
      margin-bottom: 6px;
      @media (max-width: 1100px) {
        width: 100%;
        text-align: center;
        display: none;
        font-size: 18px;
      }
      &:hover {
        color: var(--pink);
      }
    }
  }
  &__list:not(:last-child) {
    min-width: 176px;
  }
}

.is-nav-open {
  .navbar {
    display: flex !important;
  }
  .navbar__menu {
    flex-direction: column;
  }
}
