/*! purgecss start ignore */
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--blue);
}
.select2-container {
  .select2-selection--single {
    height: auto;
    padding: 0.3rem 2.2rem 0.4rem 1.1rem;
    border-color: var(--blue);
    outline: solid transparent 1px;
    transition: all 0.3s;
  }
}
.select2-container--open {
  .select2-selection--single {
    border-color: var(--blue);
    outline-color: var(--blue);
  }
}
.-error {
  .select2-container {
    .select2-selection--single {
      border-color: var(--blue);
      outline-color: var(--blue);
    }
  }
}
.-disabled {
  cursor: not-allowed;
  * {
    cursor: not-allowed;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: var(--color-light);
  }
  .select2-container {
    .select2-selection--single {
      background-color: var(--color-light);
      border-color: var(--color-gray);
      b {
        opacity: 0.2;
      }
    }
  }
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 0.2rem;
  right: 28px;
  width: 24px;
  height: 24px;
  b {
    background-image: url("../images/ico/dropdown.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 100%;
    height: 100%;
  }
}
.select2-dropdown {
  top: 2px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
}
.select2-results__options {
  font-size: 12px;

  > li {
    padding: 8px 16px;
    font-weight: 400;
    color: var(--blue);
    font-size: 16px;
    letter-spacing: 0;
    font-family: "PT Sans", sans-serif;
    > span {
      align-items: center;
      display: flex;
      width: 100%;
      img {
        margin-right: 16px;
      }
    }
  }
  .select2-results__option--selected {
    background-color: var(--blue) !important;
    color: var(--color-light);
  }
  .select2-results__option--highlighted  {
    background-color: var(--blue) !important;
  }
}
.select2-container .select2-selection--single .select2-selection__rendered {
  color: var(--medium-gray);
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.31px;
}
.select2-container--default .select2-selection--single {
  border: 1px solid var(--color-lines);
  height: 3.25rem;
  border-radius: 8px;
  background: rgba(121, 107, 25, 0.05);
  width: 100%;
  min-width: 18rem;
  display: flex;
  border: 1px solid var(--light-gray);
  align-items: center;
  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}
.hp-tabs-section {
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    b {
      background-image: url("/assets/images/ico/chevron.svg");
    }
  }
  .select2-container--default .select2-selection--single {
    border: none !important;
    background-color: transparent;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: -1px;
    right: 20px;
    width: 8px;
  }
  .select2-container--default.select2-container--open.select2-container--below
    .select2-selection--multiple,
  .select2-container--default.select2-container--open.select2-container--below
    .select2-selection--single {
    background-color: var(--color-light) !important;
  }
}
.o-select {
  display: block;
}
/*! purgecss end ignore */
