<section class="partners-section">
  <a href="#" target="_blank">
    <img src="images/content/partner-2.png" loading="lazy" alt="partner" />
  </a>
  <a href="#" target="_blank">
    <img src="images/content/partner-1.png" loading="lazy" alt="partner" />
  </a>
  <a href="#" target="_blank">
    <img src="images/content/search-ban.png" loading="lazy" alt="partner" />
  </a>
</section>
