<!DOCTYPE html>
<html lang="cs-CZ">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }} - {{ project }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="format-detection" content="telephone=no" />

    <!-- fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- fonts  end-->

    <link rel="preload" href="css/styles.css" as="style" />
    <link rel="stylesheet" media="screen, handheld" href="css/styles.css" />
    <link rel="stylesheet" media="print" href="css/prints.css" />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      as="script"
      crossorigin
    />
    <link rel="preload" href="js/scripts.js" as="script" />

    <!-- favicon -->

    <!-- favicon end-->
  </head>
  <body>
    <div class="base">
      {% include "@components/header/header.twig" %}
      <main class="main" aria-label="Hlavní obsah">
        {% block main %}{% endblock %}
      </main>
      {% include "@components/footer/footer.twig" %}
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script defer src="js/scripts.js"></script>
  </body>
</html>
