<section class="product-section">
  <div class="product-section__container">
    <div class="product-section__box">
      <div class="product-section__img">
        <img src="images/content/product.png" alt="product" loading="lazy" />
      </div>
      <h1 class="h2 mb-2">
        SPECIFIC CGD-M
        <span>Senior Medium Breed Senior Medium Breed Senior Medium Breed</span>
      </h1>

      <div class="product-section__text">
        <p class="mb-4">
          <i>Popis produktu: </i>
        </p>
        <h2 class="h4 mb-1">INDIKACE:</h2>
        <p>
          Kompletní krmivo pro starší psy středních plemen nad 7 let věku.
          SPECIFIC™ CGD-M Senior Medium Breed představuje nutriční podporu pro
          zdraví starších psů.
        </p>
      </div>
    </div>
    <div class="row g-lg-5 mb-4 gy-3 clearfix w-100">
      <div class="col-lg-8">
        <h3 class="h4 mb-2">SLOŽENÍ:</h3>
        <p>
          Pšenice, kukuřičná bílkovina, řepná dřeň, bílá rybí moučka, vepřový
          tuk, rybí olej, hydrolyzovaná živočišná bílkovina, minerální látky,
          vitamíny a stopové prvky (včetně chelátovaných stopových prvků),
          sušené vejce, methionin, kvasnice (zdroj mannan-oligosacharidů),
          lysin, taurin, threonin, tryptofan, L-karnitin, extrakt z rozmarýnu.
          Obsahuje přírodní antioxidanty (tokoferoly a vitamín C). Neobsahuje
          syntetická barviva a zchutňovadla.
        </p>
      </div>
      <div class="col-lg-4">
        <div class="product-section__descr">
          <ul>
            <li><strong> Kód:</strong> C01706-02036</li>
            <li>
              <strong> Dostupnost: </strong>
              Skladem
            </li>
            <li>
              <strong> Výrobce: </strong>
              Dechra Specific
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a href="images/content/pdf.pdf" download class="product-section__download">
      {% include "@images/download.svg" %} Informace ke stažení
    </a>
    <div class="productForm formRadio">
      <form action="">
        <div class="productForm__radios">
          <label>
            <input type="radio" name="e" />
            <p>
              <strong>12 kg</strong>
              <strong> 1 355,00 Kč s DPH </strong>
            </p>
          </label>
          <label>
            <input type="radio" name="e" />
            <p>
              <strong>7 kg</strong>
              <strong> 512,00 Kč s DPH </strong>
            </p>
          </label>
          <label>
            <input type="radio" name="e" />
            <p>
              <strong>4 kg</strong>
              <strong> 546,00 Kč s DPH </strong>
            </p>
          </label>
          <label>
            <input type="radio" name="e" />
            <p>
              <strong>1 kg</strong>
              <strong> 162,00 Kč s DPH  </strong>
            </p>
          </label>
        </div>
        <div class="productForm__input">
          <div class="counter__btn" data-direction="minus" disabled>
            <img src="images/ico/delete.svg" alt="delete" />
          </div>
          <input disabled class="counter__value" type="text" value="1" />
          <div class="counter__btn" data-direction="plus">
            <img src="images/ico/add.svg" alt="add" />
          </div>
        </div>
        <div class="productForm__links">
          <a href="#" class="link">
            {% include "@images/chevron-left.svg" %} Zpět k nákupu
          </a>
          <a href="#" class="btn">Objednat</a>
        </div>
      </form>
    </div>
  </div>
</section>
