<section class="productsSlider">
  <h2 class="productsSlider__title">
    DOPORUČUJEME / Krmiva Specific pro psy a kočky
  </h2>
  <div class="productsSlider__inner">
    <a href="#" class="productItem">
      <div class="productItem__head">
        <div class="productItem__state">skladem</div>
        <div class="productItem__favorite">
          {% include "@images/favorite.svg" %}
        </div>
      </div>
      <div class="productItem__img">
        <img src="images/content/product-1.png" alt="product" />
      </div>
      <div class="productItem__title">
        SPECIFIC CGD-M
        <span> Senior Medium Breed </span>
      </div>
      <div class="productItem__price">
        Cena s DPH od
        <span> 190,15 Kč </span>
      </div>
    </a>

    <a href="#" class="productItem">
      <div class="productItem__head">
        <div class="productItem__state">skladem</div>
        <div class="productItem__favorite">
          {% include "@images/favorite.svg" %}
        </div>
      </div>
      <div class="productItem__img">
        <img src="images/content/product-2.png" alt="product" />
      </div>
      <div class="productItem__title">
        SPECIFIC FRD
        <span> Weight Reduction </span>
      </div>
      <div class="productItem__price">
        Cena s DPH od
        <span> 371,00 Kč </span>
      </div>
    </a>
    <a href="#" class="productItem">
      <div class="productItem__head">
        <div class="productItem__state">skladem</div>
        <div class="productItem__favorite">
          {% include "@images/favorite.svg" %}
        </div>
      </div>
      <div class="productItem__img">
        <img src="images/content/product-3.png" alt="product" />
      </div>
      <div class="productItem__title">
        SPECIFIC CGD-XL
        <span> Senior Large & Giant Breed </span>
      </div>
      <div class="productItem__price">
        Cena s DPH od
        <span> 371,00 Kč </span>
      </div>
    </a>
    <a href="#" class="productItem">
      <div class="productItem__head">
        <div class="productItem__state">skladem</div>
        <div class="productItem__favorite">
          {% include "@images/favorite.svg" %}
        </div>
      </div>
      <div class="productItem__img">
        <img src="images/content/product-4.png" alt="product" />
      </div>
      <div class="productItem__title">
        SPECIFIC CDD-HY
        <span> Food Allergen Management </span>
      </div>
      <div class="productItem__price">
        Cena s DPH od
        <span> 497,26 Kč </span>
      </div>
    </a>
    <a href="#" class="productItem">
      <div class="productItem__head">
        <div class="productItem__state">skladem</div>
        <div class="productItem__favorite">
          {% include "@images/favorite.svg" %}
        </div>
      </div>
      <div class="productItem__img">
        <img src="images/content/product-1.png" alt="product" />
      </div>
      <div class="productItem__title">
        SPECIFIC CGD-M
        <span> Senior Medium Breed </span>
      </div>
      <div class="productItem__price">
        Cena s DPH od
        <span> 190,15 Kč </span>
      </div>
    </a>

    <a href="#" class="productItem">
      <div class="productItem__head">
        <div class="productItem__state">skladem</div>
        <div class="productItem__favorite">
          {% include "@images/favorite.svg" %}
        </div>
      </div>
      <div class="productItem__img">
        <img src="images/content/product-2.png" alt="product" />
      </div>
      <div class="productItem__title">
        SPECIFIC FRD
        <span> Weight Reduction </span>
      </div>
      <div class="productItem__price">
        Cena s DPH od
        <span> 371,00 Kč </span>
      </div>
    </a>
    <a href="#" class="productItem">
      <div class="productItem__head">
        <div class="productItem__state">skladem</div>
        <div class="productItem__favorite">
          {% include "@images/favorite.svg" %}
        </div>
      </div>
      <div class="productItem__img">
        <img src="images/content/product-3.png" alt="product" />
      </div>
      <div class="productItem__title">
        SPECIFIC CGD-XL
        <span> Senior Large & Giant Breed </span>
      </div>
      <div class="productItem__price">
        Cena s DPH od
        <span> 371,00 Kč </span>
      </div>
    </a>
    <a href="#" class="productItem">
      <div class="productItem__head">
        <div class="productItem__state">skladem</div>
        <div class="productItem__favorite">
          {% include "@images/favorite.svg" %}
        </div>
      </div>
      <div class="productItem__img">
        <img src="images/content/product-4.png" alt="product" />
      </div>
      <div class="productItem__title">
        SPECIFIC CDD-HY
        <span> Food Allergen Management </span>
      </div>
      <div class="productItem__price">
        Cena s DPH od
        <span> 497,26 Kč </span>
      </div>
    </a>
  </div>
</section>
