.productsSlider {
  padding-left: 100px;
  padding-right: 50px;
  margin-bottom: 50px;
  max-width: 56.25rem;
  @include media-breakpoint-down(xl) {
    margin: 0 auto 32px;
    padding-left: 0;
    padding-right: 0;
  }
  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 31.08px;
    color: var(--blue);
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 12px;
    margin-bottom: 27px;
    letter-spacing: 0px;
    @include media-breakpoint-down(xl) {
      font-weight: 700;
      text-align: center;
    }
    @include media-breakpoint-down(lg) {
      font-size: 16.5px;
      line-height: 21.37px;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 16px;
    }
  }
  &__inner {
    display: flex !important;
    gap: 16px;
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .slick-slide > div {
    height: 100%;
    padding: 0 8px;
  }
  .slick-list {
    padding-bottom: 22px !important;
  }
  .slick-track {
    height: 100%;
  }
  @include media-breakpoint-down(lg) {
    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin-top: -16px;
      li {
        display: block;
        width: 16px;
        height: 16px;
      }
      .slick-active button {
        background-color: var(--dark-gray);
      }
      button {
        cursor: pointer;
        display: block;
        border: none;
        outline: none;
        font-size: 0;
        background-color: var(--light-gray);
        width: 16px;
        height: 16px;
        border-radius: 100%;
      }
    }
  }
}

.productItem {
  border-radius: 16px;
  padding: 10px 0 20px 0;
  border: 1px solid var(--light-gray);
  display: flex !important;
  height: 100%;
  flex-direction: column;
  min-height: 362px;
  box-shadow: 0px 4px 8px 0px rgba(36, 36, 36, 0.25);
  text-decoration: none;
  transition: all 0.1s;
  @include media-breakpoint-down(lg) {
    min-height: auto;
  }
  &:hover {
    border: 2px solid var(--medium-gray);
    box-shadow: 0px 4px 24px 0px rgba(36, 36, 36, 0.25);
    @include media-breakpoint-down(lg) {
      min-height: auto;
    }
  }
  &__price {
    margin-top: auto;
    padding: 0 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.31px;
    text-align: center;
    color: var(--blue);
    span {
      font-size: 16px;
      font-weight: 700;
      line-height: 20.72px;
      display: block;
      margin-top: 6px;
    }
  }
  &__title {
    color: var(--color-dark);
    font-size: 17.5px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 0 6px;
    margin-bottom: 6px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 16px;
    }
    span {
      display: block;
      font-size: 16.5px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.02em;
    }
  }
  &__head {
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
  }
  &__state {
    color: var(--dark-pink);
    font-size: 14px;
    font-weight: 700;
    line-height: 18.13px;
  }
  &__favorite {
    width: 25px;
    height: 25px;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    &:hover {
      svg path {
        stroke: var(--pink);
      }
    }
    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    svg path {
      transition: all 0.3s;
    }
  }
  &__img {
    width: 100%;
    height: 9.8rem;
    margin-bottom: 14px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .btn {
    margin: 36px auto 0;
    max-width: 128px;
    justify-content: center;
  }
}
.productItem.active .productItem__favorite svg path {
  fill: var(--pink);
  stroke: var(--pink);
}
.productsSlider__btn {
  position: relative;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 58%;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s;
  background: transparent;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.productsSlider__btnnext {
  right: -34px;
}
.productsSlider__btnprev {
  left: -34px;
}

.productsSlider__inner:not(.slick-slider) {
  padding: 0 8px;

  .productItem {
    max-width: 172px;
    width: 100%;
  }
}
