<header class="header">
  <div class="header__promotion">
    <div class="container">
      <span> Při objednávce nad 1000 Kč s DPH je doprava ZDARMA.</span>
    </div>
  </div>
  <div class="container">
    {% include "@components/header-info/header-info.twig" %}

    <div class="header-search">
      <a href="#" target="_blank" class="header-search__ban">
        <img
          src="images/content/search-ban.png"
          loading="lazy"
          alt="specific"
        />
      </a>
      <a
        href="#"
        data-bs-toggle="modal"
        data-bs-target="#modalLogin"
        class="btn loginBtn"
      >
        Přihlásit se
      </a>

      <h1 class="header-search__title">VŠE, CO HLEDÁTE PRO SVÉHO MAZLÍČKA</h1>
      <form class="header-search__form">
        <input type="text" />
        <button>{% include "@images/search.svg" %}</button>
      </form>
    </div>
    <div class="header-board">
      <div id="carouselExampleIndicators" class="carousel slide header-slider">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#" class="header-slider__item" target="_blank">
              <img
                src="images/content/header-slider-test.jpeg"
                alt="slider-img"
              />
            </a>
          </div>
          <div class="carousel-item">
            <a href="#" class="header-slider__item" target="_blank">
              <img
                src="images/content/header-slider-test.jpeg"
                alt="slider-img"
              />
            </a>
          </div>
          <div class="carousel-item">
            <a href="#" class="header-slider__item" target="_blank">
              <img
                src="images/content/header-slider-test.jpeg"
                alt="slider-img"
              />
            </a>
          </div>
          <div class="carousel-item">
            <a href="#" class="header-slider__item" target="_blank">
              <img
                src="images/content/header-slider-test.jpeg"
                alt="slider-img"
              />
            </a>
          </div>
        </div>
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
        </div>
      </div>

      <div class="header-board__account">
        {% include "@components/basket/basket.twig" %} {% include
        "@components/account/account.twig" %}
      </div>
    </div>
  </div>
</header>
