<footer class="footer">
  <div class="container">
    <div class="footer-head">
      <div class="footer-head__links">
        <a href="#" target="_blank">
          <img
            src="images/content/footer-link-1.png"
            loading="lazy"
            alt="specificdiet"
          />
          specificdiet.cz
        </a>
        <a href="#" target="_blank">
          <img
            src="images/content/footer-link-2.png"
            loading="lazy"
            alt="veterina-chovatel"
          />
          veterina-chovatel.cz
        </a>
      </div>
    </div>
    <div class="footer-content">
      <ul class="footer-content__links">
        <li>
          <a href="#">Obchodní podmínky</a>
        </li>
        <li>
          <a href="#">Kontakt</a>
        </li>
        <li>
          <a href="#">Ochrana osobních dat</a>
        </li>
      </ul>
      <ul class="footer-content__links">
        <li>
          <a href="#"> Sedm důvodů, proč si vybrat SPECIFIC </a>
        </li>
        <li>
          <a href="#">Desatero jak objednat Specific</a>
        </li>
        <li>
          <a href="#">Reklamační řád </a>
        </li>
      </ul>
      <a href="#" target="_blank" class="footer-content__ban">
        <img
          src="images/content/footer-ban.png"
          loading="lazy"
          alt="footer-ban"
        />
      </a>
    </div>
  </div>
  <div class="copyright">© 2024 Veterinární klinika Na Weilovně</div>
</footer>
