:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-text: #181a1b;
  --blue: #195079;
  --dark-blue: #124255;
  --dark-blue-100: rgba(18, 66, 85, 0.1);
  --dark-blue-200: rgba(211, 222, 227, 0.2);
  --pink: #b10061;
  --dark-pink: #551237;
  --light-gray: #d8d9da;
  --medium-gray: #98999a;
  --dark-gray: #98999a;
}
