{% extends "@components/base/base.twig" %} {% set title = "02.0_registration" %}
{% block main %}
<div class="main__wrapper">
  {% include "@components/navigation/navigation.twig" %}
</div>
{% endblock %}
