{% extends "@components/base/base.twig" %} {% set title = "04.0_article" %} {%
block main %}
<div class="main__wrapper">
  {% include "@components/navigation/navigation.twig" %}
</div>
{% endblock %}
