{% extends "@components/base/base.twig" %} {% set title = "06.0_favorites" %} {%
block main %}
<div class="main__wrapper">
  {% include "@components/navigation/navigation.twig" %}
</div>
{% endblock %}
