<section class="blog-section">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Blog</a></li>
      </ol>
    </nav>
    <a href="#" class="blogItem">
      <div class="blogItem__img">
        <img src="images/content/article-1.png" alt="blog-1" loading="lazy" />
      </div>
      <div class="blogItem__content">
        <h2 class="h2">
          Domestikace psa a adaptace jeho genomu na dietu bohatou na škroby
        </h2>
        <div class="blogItem__date">13. 11. 2023</div>
      </div>
      <p class="p1">
        Domestikace psa byla důležitou epizodou ve vývoji lidské civilizace.
        Přesné místo a období této události jsou předmětem debat, kdy v tomto
        článku najdete v Referencích odkazy na články, zabývající se právě
        těmito tématy.
      </p>
    </a>
    <a href="#" class="blogItem">
      <div class="blogItem__img">
        <img src="images/content/article-2.png" alt="blog-1" loading="lazy" />
      </div>
      <div class="blogItem__content">
        <h2 class="h2">
          Přípravky S CBD pro psy a kočky od společnosti Curepoint s.r.o.
        </h2>
        <div class="blogItem__date">13. 11. 2023</div>
      </div>
      <p class="p1">
        Ve světě se CBD produkty vyrábějí zejména pro lidi, ale jsou v poslední
        době novinkou i pro zvířata. CBD olej je vyráběn švýcarskou společností
        s dlouholetými
      </p>
    </a>
    <a href="#" class="blogItem">
      <div class="blogItem__img">
        <img src="images/content/article-1.png" alt="blog-1" loading="lazy" />
      </div>
      <div class="blogItem__content">
        <h2 class="h2">
          ZIMA = PLÍSKANICE = MOŽNÉ SNÍŽENÍ TĚLESNÉ AKTIVITY PSŮ
        </h2>
        <div class="blogItem__date">13. 11. 2023</div>
      </div>
      <p class="p1">
        Ve světě se CBD produkty vyrábějí zejména pro lidi, ale jsou v poslední
        době novinkou i pro zvířata. CBD olej je vyráběn švýcarskou společností
        s dlouholetými Ve světě se CBD produkty vyrábějí zejména pro lidi, ale
        jsou v poslední době novinkou i pro zvířata. CBD olej je vyráběn
        švýcarskou společností s dlouholetými
      </p>
    </a>
    <a href="#" class="blogItem">
      <div class="blogItem__img">
        <img src="images/content/article-1.png" alt="blog-1" loading="lazy" />
      </div>
      <div class="blogItem__content">
        <h2 class="h2">
          Domestikace psa a adaptace jeho genomu na dietu bohatou na škroby
        </h2>
        <div class="blogItem__date">13. 11. 2023</div>
      </div>
      <p class="p1">
        Domestikace psa byla důležitou epizodou ve vývoji lidské civilizace.
        Přesné místo a období této události jsou předmětem debat, kdy v tomto
        článku najdete v Referencích odkazy na články, zabývající se právě
        těmito tématy.
      </p>
    </a>

    <nav aria-label="Další stránky">
      <ul
        class="pagination d-flex flex-wrap pagination-flat pagination-success"
      >
        <li class="page-item active">
          <a class="page-link" href="#" data-abc="true">
            {% include "@images/arrow-left.svg" %}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">1</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">
            {% include "@images/arrow-right.svg" %}</a
          >
        </li>
      </ul>
    </nav>
  </div>
</section>
